.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 3rem; 
  padding: 1rem; 

}

.ProductCard {
  background-color:rgb(249, 226, 238); 
  border: 2px solid rgb(250, 196, 224); 
  border-radius: 15px; 
  height: 100%;
  cursor: pointer;
  transition: transform 0.5s, box-shadow 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center; 
  padding: 1rem; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  

}

.ProductCard img {
  max-width: 100%;
  max-height: 100%; 
  object-fit: cover; 
  border-radius: 10px 10px 0 0;
  width: 50%;
  /* padding-bottom: 2%; */
}

.ProductCard:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cardLink {
  text-decoration: none !important;
  color: black !important;
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%; 
}

.card-body {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
}

.card-body h5 {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1rem;
  margin: 0.5rem 0;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
}

.btn-add-to-bag {
  display: block;
  width: 90%;
  background-color: rgb(243, 107, 177); 
  color: white;
  border: none;
  padding: 0.5rem 0;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  border-radius: 5px; 
}

.text-center {
  text-align: center;
  font-style: italic;
  font-size: x-large;
}